Config { 
--	font = "-misc-fixed-*-*-*-*-15-*-*-*-*-*-*-*"
	font = "xft:Dejavu Sans Mono for Powerline:pixelsize=16:antialias=true"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "EGPF" ["-t","<station>: <tempC>C",
                                          "-L","18","-H","25",
                                          "--normal","green",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Network "eth1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%a %_d %b %Y, %-I:%M %p" "date" 10
		    , Run StdinReader
		    , Run BatteryP ["BAT", "BAT0", "BAT1"] ["-t", "<acstatus>", "--", "-O", "AC", "-o", "Battery: <left>%"] 10
		    , Run DiskU [("/", "root: <usedp>%")] [] 20
	 	    , Run Kbd [("us", "US"), ("th", "TH")]
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader%}{%disku% | %cpu% | %memory% | \
                    \<fc=#ffe833>%battery%</fc> | <fc=#ee9a00>%date%</fc> | %kbd% |               "
       }
